{% load static %}
{% load socialaccount %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'console/codemirror/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'console/codemirror/darcula.css' %}">
  <link rel="stylesheet" href="{% static 'console/codemirror/show-hint.css' %}">
  <link rel="stylesheet" href="{% static 'console/codemirror/fullscreen.css' %}">
  <link rel="stylesheet" href="{% static 'console/console.css' %}">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'console/login.css' %}">

  <title>spoticode</title>
</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="{% static 'console/js/src/spotify-web-api.js' %}"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="{% static 'console/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'console/codemirror/javascript.js' %}"></script>
  <script src="{% static 'console/codemirror/show-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/javascript-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/anyword-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/css-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/html-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/sql-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/xml-hint.js' %}"></script>
  <script src="{% static 'console/codemirror/fullscreen.js' %}"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow " style="z-index: 9999; position: fixed; top: 0; width: 100%;">
    <div class="container-fluid" style="height: 1cm">
      <a class="navbar-brand" href="#">spoticode</a>
      {% block name %}

      {% endblock %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Scripts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for program in programs %}
              <a class="dropdown-item" href="?program={{program}}">{{program}}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

</body>

</html>